  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Insert Student data </title>

  <style type="text/css">
    @import url('font.css');

{ 
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font: 17px raleway;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  background-image: url('back_dark.png');
  background-size: cover;
  color: #fff!important;

}
form
{
  background-color: black;
  opacity: 0.6;
}
.insert
{
  text-align: center;
  font-size: 50px;
}
.regnumber
{
  margin-left: 200px;
  margin-top: 20px;
}
.registration
{
  font-size: 35px;
}
.number
{
  margin-left: 10px;
  width: 300px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
}
.studentandinput
{
  margin-left: 1100px;
  margin-top: -35px;
}
.stuname
{
   font-size: 35px;
}
.studname
{
  margin-left: 10px;
  width: 300px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
}
.fatherandinput
{
  margin-top: 20px;
  margin-left: 200px;
}
.fatname
{
  font-size: 35px;
}
.fathname
{
  margin-left: 140px;
  width: 300px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
}
.motherandinput
{
  margin-left: 990px;
  margin-top: -30px;
}
.motname
{
  font-size: 35px;
}
.mothname
{
  width: 300px;
  margin-left: 10px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
}
.dateinput
{
  margin-left: 200px;
  margin-top: 20px;
}
.dob
{
  font-size: 35px;
}
.sdob
{
  margin-left: 140px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
}
.rollnoinput
{
  margin-left: 990px;
  margin-top: -30px;
}
.rollno
{
  font-size: 35px;
}
.srollno
{
  width: 300px;
  margin-left: 10px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
}
.branchinput
{
  margin-left: 200px;
  font-size: 30px;
  margin-top: 20px;
}.branch
{
  font-size: 35px;
}
.comp
{
  transform: scale(1.3);
}
  </style>
  </head>
  <body>
    <form class="" action="" method="post">
      <div class="insert">Insert the Student Data</div>
      <div class="regnumber"><span class="registration">Registeration Number :</span> <input class="number" type="text" placeholder="Enter the Registration Number" name="regno" value="" required><br></div>
      <div class="studentandinput"><span class="stuname">Name :</span> <input class="studname" type="text" name="sname" placeholder="Enter the Name" value="" required><br></div>
      <div class="fatherandinput"><span class="fatname">Father Name :</span> <input class="fathname" placeholder="Enter the Father Name" type="text" name="fname" value="" required><br></div>
      <div class="motherandinput"><span class="motname">Mother Name :</span> <input class="mothname" type="text" name="mname" placeholder="Enter the Mother Name" value="" required><br></div>
      <div class="dateinput"><span class="dob">Date of Birth :</span> <input class="sdob" type="date" name="datee" value="" required><br></div>
      <div class="rollnoinput"><span class="rollno">Class Roll No :</span> <input class="srollno" placeholder="Enter the Class Roll No" type="text" name="roll" value="" required><br></div>
      <div class="branchinput"><span class="branch">Branch :</span> <input class="comp" type="radio" name="bran" value="Computer" required><span class="compbran">Computer Branch</span><br>
              <input type="radio" name="bran" class="ele" value="Electrical"><span class="elebran">Electrical Branch</span><br>
              <input type="radio" name="bran" class="auto" value="Automobile"><span class="autobran">Automobile Branch</span><br>
              <input type="radio" name="bran" class="electro" value="Electronics"><span class="ecebran">Electronics Branch</span><br>
              <input type="radio" name="bran" class="mech" value="Mechanical"><span class="mechbran">Mechanical Branch</span><br>
              <input type="radio" name="bran" class="civil" value="Civil"><span class="civilbran">Civil Branch </span><br></div>
      <div class="semesterinput"><span class="sem">Semester:</span><input type="radio" name="sem" class="first" value="1" required><span class="firstsem">1</span><br>
                <input type="radio" name="sem" value="2" class="second" required><span class="secondsem">2</span><br>
                <input type="radio" name="sem" value="3" class="third" required><span class="thirdsem">3</span><br>
                <input type="radio" name="sem" value="4" class="fourth" required><span class="fourthsem">4</span><br>
                <input type="radio" name="sem" value="5" class="fifth" required><span class="fifthsem">5</span><br>
                <input type="radio" name="sem" value="6"  class="sixth" required><span class="sixthsem">6</span><br></div>
      <div class="categoryinput"><span class="cate">Category:</span> <input type="radio" class="schecat" name="cat" value="SC"  required><span class="scc">Scheduled Caste</span>
                <input type="radio" name="cat" value="ST" class="stc" required><span class="sctribec">Scheduled Tribe</span>
                <input type="radio" name="cat" value="OBC" class="obc" required><span class="obcc">Other backward class</span>
                <input type="radio" name="cat" value="General" class="urc" required><span class="ur"></span>General
                <input type="radio" name="cat" value="General" class="fwa" required><span class="fw"></span>Fee Waiver<br></div>
      <div class="addressinput"><span class="add">Address</span> <input type="text" class="addre" name="add" value="" placeholder="Enter the Address" required> <br></div>
      <div class="phonenumberinput"><span class="Pho">Phone Number</span><input class="pnumber" type="integer" name="pno" value="" required placeholder="Enter the Phone Number"> <br></div>
      <div class="gender"><span class="gen">Gender</span> <input type="radio" class="ml" name="gen" value="Male"><span class="male">Male</span>
              <input type="radio" name="gen" class="fme" value="Female"><span class="Female">Female</span> <br></div>
      <div class="buttoninput"><button type="submit" class="button" name="buttonn">Submit</button></div>
    </form>
  </body>
</html>
<?php
$servername="localhost";
$username="root";
$password="";
$dbname="sample";
$conn=mysqli_connect($servername,$username,$password,$dbname);
if ($conn)
{
  if (isset($_POST['buttonn']))
   {
         $reg=$_POST['regno'];
         $sn=$_POST['sname'];
         $fn=$_POST['fname'];
         $mn=$_POST['mname'];
         $da=$_POST['datee'];
         $rn=$_POST['roll'];
         $bh=$_POST['bran'];
         $se=$_POST['sem'];
         $ca=$_POST['cat'];
         $add=$_POST['add'];
         $phone=$_POST['pno'];
         $gender=$_POST['gen'];
         $query="INSERT INTO samplee(Register,Name,Father_Name,Mother_Name,Date_of_Birth,Class_Roll_No,Branch,Semester,Category,Address,Phone_Number,Gender) VALUES('$reg','$sn','$fn','$mn','$da','$rn','$bh','$se','$ca','$add','$phone','$gender')";
         $data=mysqli_query($conn,$query);
         if ($data)
         {

           echo "Data Inserted";
         }
         else {
           echo "Data Not Inserted";
       }

    }
}
else {
  die("Connection Aborted".mysqli_connect_error());
}

?>
